<!-- <h1 class="bg-primary">{{pageTitle}}</h1> -->
<!-- <div>
    <app-gallery></app-gallery>
</div> -->

<!-- <div class="row mt-2 p-3">
    <button class="btn btn-primary" (click)="addNewPicture()">Add</button>
    <button class="btn btn-danger" (click)="removeFirstPicture()">Remove</button>
</div> -->

<figure>
    <img src="./assets/images/home.jpg"
         alt="Elephant at sunset"
         class="homeImg">
</figure>

<div class="row mt-2 p-3">
    {{output}}
    <button class="btn btn-primary" (click)="login()">Add</button>
    <button class="btn btn-danger" (click)="logout()">Remove</button>
</div>