.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}